@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Orchard Opetope Editor">
    <meta name="author" content="Eric Finster">

    <title>Orchard Opetope Editor</title>

    <link rel="stylesheet" href="@routes.Assets.at("plugins/bootstrap/css/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("plugins/font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("plugins/bootstrap-treeview/bootstrap-treeview.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("plugins/toastr/toastr.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/orchard.css")">

    <link rel="shortcut icon" href="favicon.ico" />
  </head>

  <body>

    <!-- Dialog Definitions -->

    <div id="orchard-new-module-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">New Module</h4>
	  </div>
	  <form id="module-form" class="horizontal">
	    <div class="modal-body">
	      <div class="control-group">
		<label class="control-label" for="module-name">Module Name</label>
		<div class="controls">
		  <input id="module-name" type="text" class="form-control" autocomplete="off">
		</div>
	      </div>		
	    </div>
	    <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Create</button>
	    </div>
	  </form>
	</div>
      </div>
    </div>

    <div id="orchard-import-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Import Module</h4>
	  </div>
	  <form id="import-form" class="horizontal">
	    <div class="modal-body">
	      <div class="control-group">
		<label class="control-label" for="module-identifier">Module</label>
		<div class="controls">
		  <input id="module-identifier" type="text" class="form-control" autocomplete="off">
		  <div class="checkbox">
		    <label>
		      <input id="open-checkbox" type="checkbox"> Open
		    </label>
		  </div>
		</div>
	      </div>		
	    </div>
	    <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Import</button>
	    </div>
	  </form>
	</div>
      </div>
    </div>

    <div id="orchard-new-parameter-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">New Parameter</h4>
	  </div>
	  <form id="parameter-form">
	    <div class="modal-body">
	      <div class="control-group">
		<label class="control-label" for="parameter-name">Parameter Name</label>
		<div class="controls">
		  <input id="parameter-name" type="text" class="form-control" autocomplete="off">
		  <div class="checkbox">
		    <label>
		      <input id="thin-checkbox" type="checkbox"> Thin
		    </label>
		  </div>
		</div>
	      </div>
	    </div>
	    <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Create</button>
	    </div>
	  </form>
	</div>
      </div>
    </div>

    <div id="orchard-new-definition-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">New Definition</h4>
	  </div>
	  <form id="definition-form">
	    <div class="modal-body">
	      <div class="control-group">
		<label class="control-label" for="definition-name">Definition Name</label>
		<div class="controls">
		  <input id="definition-name" type="text" class="form-control" autocomplete="off">
		</div>
	      </div>
	    </div>
	    <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Create</button>
	    </div>
	  </form>
	</div>
      </div>
    </div>

    <!--- Top Navigation Menu -->
    <div class="navbar navbar-default navbar-fixed-top header-nav" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Orchard</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <div class="container-fluid">
	<div class="row">

	  <!-- Side Navigation Bar -->
          <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
              <li class="active"><a href="#">Editor</a></li>
              <li><a href="#">Tutorial</a></li>
              <li><a href="#">Theory</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </div>

	  <!-- Content Area -->
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

	    <!-- <div class="workspace-view"> -->
	      <div class="row module-view">
		<div class="col-sm-12 col-md-12 module-wrapper">
		</div>
	      </div>

	      <div class="row worksheet-view">

		<div class="col-sm-4 col-md-3 environment-panel">
    		  <div class="panel panel-default">
		    <div class="panel-heading">
		      <div class="btn-group">
			<button class="btn btn-default" type="button" id="paste-btn">Paste</button>
		      </div>
		    </div>
		    <div class="panel-body">
		      <div id="env-tree">
		      </div>
		    </div>
		  </div>
		</div>

    		<div class="col-sm-8 col-md-9 control-panel">
    		  <div class="panel panel-default">
		    
		    <div class="panel-heading">
		      <div class="btn-group">
			
			<div class="btn-group">
			  <button class="btn btn-default dropdown-toggle" type="button" id="insert-menu" data-toggle="dropdown">
			    Insert
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="insert-menu">
			    <li role="presentation"><a id="new-module-btn" role="menuitem" tabindex="-1" href="#">Module</a></li>
			    <li role="presentation"><a id="new-parameter-btn" role="menuitem" tabindex="-1" href="#">Parameter</a></li>
			    <li role="presentation"><a id="new-defn-btn" role="menuitem" tabindex="-1" href="#">Definition</a></li>
			    <li role="presentation"><a id="new-import-btn" role="menuitem" tabindex="-1" href="#">Import</a></li>
			  </ul>
			</div>

			<div class="btn-group">
			  <button class="btn btn-default dropdown-toggle" type="button" id="shape-menu" data-toggle="dropdown">
			    Worksheet
			    <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="insert-menu">
			    <li role="presentation"><a id="new-worksheet-btn" role="menuitem" tabindex="-1" href="#">New Worksheet</a></li>
			    <li role="presentation" class="divider"></li>
			    <li role="presentation"><a id="extrude-btn" role="menuitem" tabindex="-1" href="#">Extrude Selection</a></li>
			    <li role="presentation"><a id="drop-btn" role="menuitem" tabindex="-1" href="#">Drop At Selection</a></li>
			  </ul>
			</div>

		      </div>
		    </div>

    		    <div class="panel-body">
		      <div class="worksheet-carousel-wrapper">

		      	<div class="worksheet-carousel">
		      	  <ul>
		      	  </ul>
		      	</div>

			<div class="worksheet-carousel-controls">
			  <a href="#" class="worksheet-carousel-prev"><i class="fa fa-chevron-circle-left"></i></a>
			  <div class="worksheet-carousel-pagination"></div>
			  <a href="#" class="worksheet-carousel-next"><i class="fa fa-chevron-circle-right"></i></a>
			</div>

		      </div>
    		    </div>
		    
    		  </div>
    		</div>

	      </div>
	    <!-- </div> -->
	  </div>

	</div>
      </div>
    </div>

    <div class="navbar navbar-default navbar-fixed-bottom footer-nav" role="navigation">
      <div class="container-fluid">
    	<div class="row">

	</div>
      </div>
    </div>

    <!-- Javascript Libraries -->
    <script src="@routes.Assets.at("plugins/jquery/jquery-2.1.1.js")"></script>
    <script src="@routes.Assets.at("plugins/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("plugins/bootstrap-treeview/bootstrap-treeview.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("plugins/jcarousel/jquery.jcarousel.min.js")"></script>
    <script src="@routes.Assets.at("plugins/snap/snap.svg.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("plugins/toastr/toastr.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/orchard-js-fastopt.js")" type="text/javascript"></script>
    <!-- for production (play dist), use the optimized version instead -->
    <!-- <script src="@routes.Assets.at("javascripts/scalajs-example-opt.js")" type="text/javascript"></script> -->
    <script src="@routes.Assets.at("javascripts/orchard-js-launcher.js")" type="text/javascript"></script>

  </body>
</html>




