/*
 * Base structure
 */

html, body {
    height: 100%;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main-content {
    position: fixed;
    top: 50px;
    bottom: 50px;
    left: 0px;
    right: 0px;
    overflow: auto;
}

.main {
  padding: 20px 0px 20px 0px;
}

.main .page-header {
  margin-top: 0;
}

.module-panel {
}

.module-entries {
    list-style-type: none;
    padding-left: 15px;
}

.module-view {
    padding-left: 40px;
    padding-right: 40px;
}

.worksheet-view {
    padding-left: 40px;
    padding-right: 40px;
}

/*
 *  Footer and Control Panel
 */

.control-panel-nav > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.control-panel {
    padding-top: 20px;
    padding-bottom: 10px;
    min-height: 150px;
}
@media (min-width: 768px) {
    .control-panel {
	padding-right: 40px;
	padding-left: 40px;
    }
}

.environment-panel {
    padding-top: 20px;
    padding-bottom: 10px;
    min-height: 150px;
}


/* Restore drop-down status to menus in the footer */
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 4px solid;
  border-bottom: none;
}
.navbar-fixed-bottom .dropdown .dropdown-menu {
    top: 100%;
    bottom: auto;
}

/* .control-pane-slider { */
/*     height: 3px; */
/*     background-color: #eee; */
/* } */

/* .control-pane-slider:hover { */
/*     background-color: #bbb; */
/*     cursor: ns-resize; */
/* } */

/*
 *  Cursor and related
 */

.cursor {
    min-height: 20px;
    text-align: center;
}

.cursor-bar {
    background-color: #eee;
    height: 8px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -moz-transition: opacity 0.5s, width 0.5s ease-in-out;
    -o-transition: opacity 0.5s, width 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s, width 0.5s ease-in-out;
    -ms-transition: opacity 0.5s, width 0.5s ease-in-out;
    transition: opacity 0.5s, width 0.5s ease-in-out;
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px; 
    border-radius: 4px;
}

.cursor-bar:hover {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.cursor-bar.active {
    width: 5%;
    background-color: red;
    opacity: 1;
}

/*
 *  Scollable Gallery
 */


.scrollable-gallery .scrollable-gallery-panels {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.scrollable-gallery .scrollable-gallery-panel {
    float: left;
    padding: 10px;
    background: #fff;
}

/*
 *  Cell class definitions
 */

.orchard-cell { fill: #fff; }

.orchard-cell-polarized { fill: #dddddd; }

.orchard-cell-empty { fill: #fff; }
.orchard-cell-empty-hovered { fill: #f64; }
.orchard-cell-empty-selected { fill: #c45; }

.orchard-label {
    pointer-events: none;
}

.orchard-empty-label {
    pointer-events: none;
    visibility: hidden;
}

.orchard-edge {
    pointer-events: none;
}
