/*
 *  OchardUI.css - User interface CSS declarations
 */

/* Expression cells */

.root {

    /* http://colorschemedesigner.com */

    primary-1: #4C82FF;
    primary-2: #5A6FA1;
    primary-3: #0A2C7C;
    primary-4: #89ADFF;
    primary-5: #BACFFF;

    secondary-a-1: #5D53FF;
    secondary-a-2: #605CA1;
    secondary-a-3: #110B7C;
    secondary-a-4: #948EFF;
    secondary-a-5: #C1BDFF;

    secondary-b-1: #42B9FF;
    secondary-b-2: #5685A1;
    secondary-b-3: #08517C;
    secondary-b-4: #83D1FF;
    secondary-b-5: #B7E4FF;

    complement-1: #FFBC37;
    complement-2: #A18751;
    complement-3: #7C5507;
    complement-4: #FFD37B;
    complement-5: #FFE5B2;

    /* Chaning some JavaFX defaults to go with our scheme */

    /* -fx-selection-bar: primary-4; */
    /* -fx-body-color: gainsboro; */
}

/* JavaFX Control Customizations */

/* .tab-pane *.tab-header-background { */
/*     -fx-background-color: gainsboro; */
/* } */

/* This will remove the focus highlighting from the table-view control,
 * which is yucky and doesn't go with our scheme ...  */
.list-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1; /* 0.083333em; */
}

/* .list-cell:odd {  */
/*     -fx-background-color: -fx-table-cell-border-color, -fx-control-inner-background; */
/* } */

/* Orchard custom classes */

.orch-menu {
    -fx-background-color: gainsboro;
    -fx-border-color: grey;
    -fx-border-radius: 1pt;
}

.orch-menu-label {
    -fx-background-color: gainsboro;
    -fx-padding: 5pt;
}

.orch-menu-label:hover {
    -fx-background-color: white;
}

.orchard-editor {
    -fx-background-color: gainsboro;
}

.orchard-dialog {
    -fx-background-color: gainsboro;
}

.javafx-panel {
    -fx-background-color: white;
    -fx-padding: 10pt;
    -fx-border-style: solid;
    -fx-border-color: grey;
    -fx-border-width: 1pt;
}

.javafx-cell {
    -fx-background-color: white;
    -fx-background-radius: 4pt;
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 2pt;
    -fx-border-radius: 4pt;
}

.javafx-gallery {
    -fx-background-color: gainsboro;
}

.expr-cell-polarized { -fx-background-color: gainsboro; }

.expr-cell-exposed-nook { -fx-background-color: red; }

.expr-cell-empty { -fx-background-color: white }
.expr-cell-var { -fx-background-color: white }
.expr-cell-var-thin { -fx-background-color: secondary-a-5 }
.expr-cell-filler { -fx-background-color: primary-5 }
.expr-cell-filler-tgt { -fx-background-color: complement-5 }
.expr-cell-filler-tgt-thin { -fx-background-color: secondary-b-5 }

.expr-cell-empty-hovered { -fx-background-color: lightgrey }
.expr-cell-var-hovered { -fx-background-color:  lightgrey }
.expr-cell-var-thin-hovered { -fx-background-color: secondary-a-4 }
.expr-cell-filler-hovered { -fx-background-color: primary-4 }
.expr-cell-filler-tgt-hovered { -fx-background-color: complement-4 }
.expr-cell-filler-tgt-thin-hovered { -fx-background-color: secondary-b-4 }

.expr-cell-empty-selected { -fx-background-color: grey }
.expr-cell-var-selected { -fx-background-color: grey }
.expr-cell-var-thin-selected { -fx-background-color: secondary-a-1 }
.expr-cell-filler-selected { -fx-background-color: primary-1 }
.expr-cell-filler-tgt-selected { -fx-background-color: complement-1 }
.expr-cell-filler-tgt-thin-selected { -fx-background-color: secondary-b-1 }

